html{
  margin:0;
  padding:0;
}

body {
	margin: 0;
	background-color: #F6F6F6;
}

#nav-bar-name {
	float: left;
	height: 100%;
	position: fixed;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: rgb(254, 255, 233);
	font-size: 18px;
	z-index: 99;
	padding: 14px 30px;
	letter-spacing:3px;
}

.nav ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #647273;
    z-index: 98;
}

.nav li {
    float: right;
    height: 50px;
}

.nav li a {
	height:50px;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: rgb(254, 255, 233);
	font-size: 16px;
	letter-spacing:3px;
	-webkit-transition: .3s;/* Safari */
	transition: .3s;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover:not(.active) {
    background-color: #F6F6F6;
    -webkit-transition: .3s; /* Safari */
    transition: .3s;
    color: black;
}

.nav li a:active {
    background-color: #4CAF50;
    color: black;
}

.bannerback {
	content: '';
	display: block;
	width: 100%;
	height: 600px;
	position: fixed;
	z-index: -3;
	top: -50px;
	background-image: url('rsz_graph.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 0.25;
}


.banner {
	position: relative;
	background: #9c93bf00;
	overflow: hidden;
	z-index: -2;
	width: 100%;
	height: 600px;
	top: 160px;
	display: block;
}

.banner-text {
	position: relative;
	width: 50%;
	text-align: center;
	color: rgb(0, 0, 0);
	font-size: 20px;
	margin-right: auto;
	padding-top: 30px;
	margin-left: auto;
	font-family: Abel, sans-serif;
}

#profile {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	z-index: -1;
	background-image: url("prof.jpg");
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	/* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

#name {
	height: 25px;
	font-size: 36px;
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	padding-top: 15px;
	font-weight: 500;
}


#intro-sub {
	height: 15px;
	font-size: 18px;
	padding-top: 15px;
}

.footer-prompt {
	top: 90%;
	width: 100%;
	position: absolute;
	z-index: 10;
	text-align: center;
}

.icon {
	margin-right: 10px;
	display: inline-block;
	width: 36px;
	text-decoration: none;
}

.main-title {
	position: relative;
	overflow:hidden;
	z-index: 2;
	height: 70px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-size: 32px;
	font-family: "Lucida Console", Monaco, monospace;
	top: 75px;
}

.main-body {
	position: relative;
	background: #F6F6F6;
	overflow:hidden;
	z-index: 2;
	height: 100%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	top: 125px;
}

.body-item {
	position: relative;
	overflow:hidden;
	z-index: 3;
	width: 100%;
	height: 300px;
	top: 10px;
	display:block;
	margin-bottom: 50px;
}

.body-item .item {
	z-index: 4;
	width: 45%;
	height: 96%;
	margin: 1% 2% 1% 2%;
	display: inline-block;
	font-size: 16px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	outline: black solid thin;
}

.description {
	position:absolute;
	z-index: 4;
	width: 45%;
	height: 45%;
	display: inline-block;
	font-size: 16px;
	margin: 1% 2% 1% 2%;
	top: 30%;
}

#proj1 {
	background-image: url('./images/botm.png');
}

#proj2 {
	background-image: url('marmot.jpg');
}

#proj3 {
	background-image: url('./images/psiturk.png');
}

#proj4 {
	background-image: url('./images/pac.png');
}

#proj5 {
	background-image: url('./images/cpu.png');
}

#proj6 {
	background-image: url('./images/gitlet.png');
}

.book-wrapper {
	position: relative;
	background: #F6F6F6;
	overflow:hidden;
	z-index: 2;
	height: 100%;
	top: 100px;
	width: 70%;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Open Sans', sans-serif;
}

.image-wrapper {
	position: relative;
	background: #F6F6F6;
	overflow:hidden;
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 150px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

.image-wrapper .image {
	width: 30%;
	margin: 1% 1% 1% 1%;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 300px;
}

#img1 {
	background-image: url("./images/rsz_alishan.png");
}

#img2 {
	background-image: url("./images/rsz_nadi.png");
}

#img3 {
	background-image: url("./images/rsz_taroko.png");
}

#img4 {
	background-image: url("./images/rsz_flowers.png");
}

#img5 {
	background-image: url("./images/rsz_stanislaus.png");
}

#img6 {
	background-image: url("./images/rsz_pika.png");
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
